.tv-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 28px;
    border: 1px dashed #333;
    padding: 32px 26px;
    max-width: 900px;
}

.tv-card__sold-out {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 120px;
    z-index: 1;
}

.tv-card__image-wrapper {
    flex-shrink: 0;
}

.tv-card__image {
    width: 230px;
    display: block;
}

.tv-card__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.tv-card__title {
    font-size: 18px;
    font-weight: 600;
}

.tv-card__price {
    font-size: 24px;
    font-weight: 500;
}

.tv-card__sizes {
    font-size: 14px;
    font-weight: 500;
}

.tv-card__features {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.tv-card__feature {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 14px;
}

.tv-card__feature img {
    width: 14px;
    height: 14px;
}